WebServiceNSY107/src/main/webapp/wsdl/StockImpl2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://stock" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://stock" xmlns:intf="http://stock" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://stock" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="nbrExemplaire">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="nbrExemplaireResponse">
    <complexType>
     <sequence>
      <element name="nbrExemplaireReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="achatExemplaire">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:long"/>
      <element name="nbr" type="xsd:long"/>
      <element name="address" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Address">
    <sequence>
     <element name="nom" nillable="true" type="xsd:string"/>
     <element name="numeroRue" type="xsd:int"/>
     <element name="prenom" nillable="true" type="xsd:string"/>
     <element name="rue" nillable="true" type="xsd:string"/>
     <element name="ville" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="achatExemplaireResponse">
    <complexType>
     <sequence>
      <element name="achatExemplaireReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="nbrExemplaireRequest">

      <wsdl:part element="impl:nbrExemplaire" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="nbrExemplaireResponse">

      <wsdl:part element="impl:nbrExemplaireResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="achatExemplaireResponse">

      <wsdl:part element="impl:achatExemplaireResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="achatExemplaireRequest">

      <wsdl:part element="impl:achatExemplaire" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StockImpl">

      <wsdl:operation name="nbrExemplaire">

         <wsdl:input message="impl:nbrExemplaireRequest" name="nbrExemplaireRequest">

       </wsdl:input>

         <wsdl:output message="impl:nbrExemplaireResponse" name="nbrExemplaireResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="achatExemplaire">

         <wsdl:input message="impl:achatExemplaireRequest" name="achatExemplaireRequest">

       </wsdl:input>

         <wsdl:output message="impl:achatExemplaireResponse" name="achatExemplaireResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockImplSoapBinding" type="impl:StockImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="nbrExemplaire">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="nbrExemplaireRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="nbrExemplaireResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="achatExemplaire">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="achatExemplaireRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="achatExemplaireResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockImplService">

      <wsdl:port binding="impl:StockImplSoapBinding" name="StockImpl">

         <wsdlsoap:address location="http://localhost:8080/WebServiceNSY107/services/StockImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
